.header{
    width: 100%;
    position: fixed;
    /* background-color: rgb(242, 170, 170); */
    background-color: white;
    top:0;
    z-index: 110;
    background-color: #59aaeb;
}
.top{
    width:90%;
    margin:0 auto;
}
.top .logo a{
    font-size:30px;
    font-weight: 600;
    display: inline-block;
}
.top .logo{
    display: inline-block;
}
.top .navigation{
    float:right;
}
.navigation > .pc_navigation ul li{
    float:left;
    font-weight: 600;
    margin-top: 2px;
    padding:15px 0px;
    transition: transform .3s;
}
.navigation > .pc_navigation ul li:hover{
    transform: scale(1.3);
}

.navigation > .pc_navigation ul li a{
    color: black;
    padding:15px;
}

@media (max-width: 768px) {
    .navigation > .pc_navigation{
        display: none;
    }
}