.councilListTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 3%;
    font-size: 28px;
}
.councilTitleLeft {
    width: 35%;
    height: 35px;
    margin-right: 3%;
    border-style: solid;
    border-color: #59AAEB;
    border-radius: 10em;
}
.councilTitleRight {
    width: 35%;
    height: 35px;
    border-style: solid;
    border-color: #59AAEB;
    border-radius: 10em;
}
.councilListContent {
    display: flex;
    justify-content: center;
    text-align: center;
}
.councilContentLeft {
    width: 35%;
    margin-right: 3%;
    border-style: solid;
    border-color: #59AAEB;
    border-radius: 10em;
}
.councilContentRight {
    width: 35%;
    border-style: solid;
    border-color: #59AAEB;
    border-radius: 10em;
}
@media all and (max-width:768px) {
    .councilTitleLeft {
        width: 40%;
    }
    .councilTitleRight {
        width: 40%;
    }
    .councilContentLeft {
        width: 40%;
    }
    .councilContentRight {
        width: 40%;
    }
}