.councilListTitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
    font-size: 17px;
}
.councilTitleLeft {
    width: 30%;
    height: 35px;
    margin-right: 3%;
    border-style: solid;
    border-color: #5CACF2;
    border-radius: 10em;
    padding-top: 1%;
}
.councilTitleRight {
    width: 30%;
    height: 35px;
    border-style: solid;
    border-color: #5CACF2;
    border-radius: 10em;
    padding-top: 1%;
}
.councilListContent {
    display: flex;
    justify-content: center;
    text-align: center;
}
.councilContentLeft {
    width: 30%;
    margin-right: 3%;
    border-style: solid;
    border-color: #5CACF2;
    border-radius: 1em;
}
.councilContentRight {
    width: 30%;
    border-style: solid;
    border-color: #5CACF2;
    border-radius: 1em;
}
#listbuttondiv {
    text-align: right;
    margin-top: 2%;
    width: 82.5%;
}
@media all and (max-width:768px) {
    .councilTitleLeft {
        width: 43%;
        padding-top: 2%;
    }
    .councilTitleRight {
        width: 43%;
        padding-top: 2%;
    }
    .councilContentLeft {
        width: 43%;
    }
    .councilContentRight {
        width: 43%;
    }
    #listbuttondiv {
        margin-top: 2%;
        width: 96%;
    }
}