.carousel-wrapper {
    width: 50%;
    min-width: 200;
    margin: 0 auto;
}
.carousel .slide .legend {
    background: #5CACF2 !important; 
    bottom: 20px !important;
}
@media all and (max-width:768px) {
    .carousel-wrapper {
        width: 80%;
        margin: 0px auto;
    }
}