#NoticePoster {
    width: 55%;
    display: block;
    margin: 0px auto;
}
@media all and (max-width: 768px) {
    #NoticePoster {
        width: 95%;
        display: block;
        margin: 0px auto;
    }
}