
.poster1{
    background-color: rgb(185,234,255);
    width:100%;
    min-height: 250px;
}
.poster1_on{
    transition:5s;
    opacity: 1;
}
.poster_img{
    min-height: 250px;
    background-color: rgb(88,204,255);
}
/* 포스터 2 animation */

.poster_img_on{
    transition: 5s;
    opacity: 1;
}

.none{
    transition: 2.5s;
    font-weight: 600;
    opacity: 0;
}
.animate_wrap{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    position:absolute;
    bottom: 55%;
    left: 10%;
}
/* 포스터 1 텍스트 animation */
.animate_text{
    transition:3.5s;
    color:rgb(189,91,97);
    font-size:46px;
    margin:0;
}
.animate_text1{
    font-weight: 600;
    transition: 4s;
    opacity: 1;
    color:rgb(189,91,97);
    font-size:52px;
    margin:0;
}

@media (max-width: 1400px) {
    .animate_wrap{
        bottom: 60%;
    }
}

@media (max-width: 1260px) {
    .animate_wrap{
        bottom: 63%;
    }
}

@media (max-width: 1058px) {
    .animate_wrap{
        bottom: 69%;
    }
    .animate_text{
        /* transition: 2.5s; */
        /* opacity: 1; */
        font-size:36px;
    }
    .animate_text1{
        font-size:42px;
    }
}

@media (max-width: 768px) {
    .animate_wrap{
        bottom: 75%;
    }
    .animate_text{
        /* transition: 2.5s; */
        /* opacity: 1; */
        font-size:26px;
    }
    .animate_text1{
        font-size:32px;
    }
}

@media (max-width: 580px) {
    .animate_wrap{
        bottom: 78%;
    }
    .animate_text{
        /* transition: 2.5s; */
        /* opacity: 1; */
        font-size:22px;
    }
    .animate_text1{
        font-size:28px;
    }
}

@media (max-width: 480px) {
    .animate_wrap{
        bottom: 77.5%;
    }
    .animate_text{
        /* transition: 2.5s; */
        /* opacity: 1; */
        font-size:17px;
    }
    .animate_text1{
        font-size:23px;
    }
}