
.poster1{
    height:120vh;
    background-image:url("../../../img/poster1.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
}
.poster2{
    height:120vh;
    background-color: rgb(88,204,255);
}
/* 포스터 2 animation */
.animate_on{
    transition: 3s;
    opacity: 1;
    height:120vh;
    background-image:url("../../../img/poster2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.none{
    font-weight: 600;
    opacity: 0;
}
.animate_wrap{
    padding-top: 10%;
    height: 250px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
/* 포스터 1 텍스트 animation */
.animateText{
    /* transition: 2.5s; */
    /* opacity: 1; */
    color:rgb(189,91,97);
    font-size:46px;
    margin:0;
}
.animateText2{
    font-weight: 600;
    transition: 3.5s;
    opacity: 1;
    color:rgb(189,91,97);
    font-size:52px;
    margin:0;
}

@media (max-width: 768px) {
    .poster{
        border:1px solid #e3e3e3;
        height:500px
    }
}