#NoticePoster {
    width: 50%;
    margin: 0px auto;
}

#NoticeContent {
    width: 80%;
    min-width: 200;
    margin: 0 auto;
    border-style: solid 1px;
}
#content ul li{
    list-style:inside;
}
#content ol li{
    list-style:decimal;
}
#content img{
    max-width:100%;
}
@media all and (max-width:768px) {
    #NoticePoster {
        width: 80%;
        margin: 0px auto;
    }
    #NoticeContent {
        width: 100%;
        margin: 0px auto;
    }
}