#tablehead {
    padding: 1%;
}

#noticeposter {
    width: 70%;
    display: block;
    margin: 0px auto;
}

#noticetable {
    width: 90%;
    display: block;
    margin: 0px auto;
}

#noticediv {
    display: flex;
    float: right;
}